<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestInput</servlet-name>
    <servlet-class>webmarket.TestInput</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestQuery</servlet-name>
    <servlet-class>webmarket.TestQuery</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestHold</servlet-name>
    <servlet-class>webmarket.TestHold</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestHoldQuery</servlet-name>
    <servlet-class>webmarket.TestHoldQuery</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>TestInput</servlet-name>
    <url-pattern>/TestInput</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestQuery</servlet-name>
    <url-pattern>/TestQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestHold</servlet-name>
    <url-pattern>/TestHold</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestHoldQuery</servlet-name>
    <url-pattern>/TestHoldQuery</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
    <welcome-file>TestInput.html</welcome-file>
  </welcome-file-list>
</web-app>